.git
.idea
node_modules
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
.env
.env.backup
.env.docker
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
.gitattributes
.gitignore
README.md
phpunit.xml 