.git
.github
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
*.log
.DS_Store
Thumbs.db
docker-compose.yml
Dockerfile
.dockerignore
.gitattributes
README.md
phpunit.xml 